<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Taskify</title>
    <link rel="icon" type="image/png" href="{{ url_for('favicon') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg_styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome Back</h1>
        <p>Log in to access your personalized to-do list.</p>

        <div class="error" id="error">{{ error }}</div>

        <form id="login-form" method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <input type="checkbox" class="show-password" id="show-password">
                <label for="show-password" class="show-password">Show Password</label>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.</p>
    </div>

    <script src="{{ url_for('static', filename='js/login_script.js') }}"></script>
</body>

</html>